<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the only list list in the world</title>
</head>
<body align="center">
    <h1>Your To-Do list</h1>
        <form method="POST" action="/">
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
            {% csrf_token %}
        </form>
        <br>
        <table id="id_list_table" border="1" align="center" cellspacing="0" bordercolor="pink">
            {% for item in items %}
                <tr ><td>{{ forloop.counter }}:{{ item.text }}</td></tr>
            {% endfor %}
</body>
</html>